:root {
  --darkpurple: #1C1833;
  --white: hsl(0, 0%, 100%);
  --red: #E60F0F;
  --darkred: #A60C0C;
  --blue: #03578C;
}

:root {
  --color-background: var(--darkpurple);
  --color-primary: var(--red);
  --color-onprimary: var(--white);
  --color-primary-variant: var(--darkred);
  --color-secondary: var(--blue);

  --color-border: var(--color-onprimary);
  --color-border-hover: var(---color-primary);

  --color-button: var(--color-primary);

  --color-heading: var(--color-primary);
  --color-text: var(--color-onprimary);
  --color-text-accent: var(--color-primary);
  --color-titles: var(--color-primary);
}

:root, a {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.accent {
  color: var(--color-text-accent);
}

